.grid{
    max-width: 100%;
    display: block;
    padding: 0;
}
 
.grid.wide{
    max-width: 1400px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutters .col{
    padding-left: 0;
    padding-right: 0;
}
